include "visuals.kdl"
include "bindings.kdl"

spawn-at-startup "dbus-update-activation-environment" "--systemd" "GTK_THEME" "GTK_APPLICATION_PREFER_DARK_THEME" "GSETTINGS_BACKEND"

environment {
    XCURSOR_THEME "Adwaita"
    XCURSOR_SIZE "24"
    GTK_THEME "adw-gtk3-dark"
    GTK_APPLICATION_PREFER_DARK_THEME "1"
    GSETTINGS_BACKEND "keyfile"
    MOZ_ENABLE_WAYLAND "1"
    XKB_DEFAULT_LAYOUT "us,ru"
}

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        track-layout "global"
    }
    mouse {
        accel-profile "flat"
    }
}

@WORKSPACE_DECLARATIONS@

blur {
    passes 3
    offset 4.0
    saturation 1.1
    noise 0.015
}

spawn-at-startup "awww-daemon"
spawn-sh-at-startup "sleep 1; python3 @HOME@/.config/niri/scripts/wallpaper.py --apply-current"
spawn-at-startup "python3" "@HOME@/.config/niri/scripts/panel.py"
spawn-at-startup "swaync" "-c" "@HOME@/.config/niri/swaync/config.json" "-s" "@HOME@/.config/niri/swaync/style.css"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
