background {
    path = @HOME@/.local/share/niri/sweet-pool-aquarium-1366x768.jpg
    blur_passes = 1
    blur_size = 5
    noise = 0.02
}
image {
    path = @HOME@/.local/share/niri/avatar.png
    size = 116
    rounding = 58
    border_size = 2
    border_color = rgb(114, 203, 211)
    position = 0, -88
    halign = center
    valign = center
}
label {
    text = $USER
    font_family = SF Pro Display
    font_size = 19
    color = rgba(235, 243, 245, 235)
    position = 0, 8
    halign = center
    valign = center
}
label {
    text = $TIME
    font_family = SF Pro Display
    font_size = 66
    color = rgba(238, 246, 248, 245)
    position = 0, -218
    halign = center
    valign = center
}
label {
    text = $DATE
    font_family = SF Pro Display
    font_size = 16
    color = rgba(188, 205, 211, 220)
    position = 0, -156
    halign = center
    valign = center
}
input-field {
    size = 330, 54
    position = 0, 92
    halign = center
    valign = center
    outline_thickness = 2
    dots_size = 0.28
    dots_spacing = 0.22
    outer_color = rgb(114, 203, 211)
    inner_color = rgba(8, 17, 24, 225)
    font_color = rgb(235, 243, 245)
    fail_color = rgb(214, 119, 132)
    check_color = rgb(130, 205, 175)
    placeholder_text = пароль
    rounding = 14
}
