[colors]
draw_bold_text_with_bright_colors = true

[colors.primary]
background = "{{colors.surface.dark.hex}}"
foreground = "{{colors.on_surface.dark.hex}}"

[colors.normal]
black = "{{colors.surface_container_lowest.dark.hex}}"
red = "{{colors.error.dark.hex}}"
green = "{{colors.tertiary.dark.hex}}"
yellow = "{{colors.secondary.dark.hex}}"
blue = "{{colors.primary.dark.hex}}"
magenta = "{{colors.tertiary.dark.hex}}"
cyan = "{{colors.secondary.dark.hex}}"
white = "{{colors.on_surface.dark.hex}}"

[colors.bright]
black = "{{colors.outline.dark.hex}}"
red = "{{colors.error.dark.hex}}"
green = "{{colors.tertiary.dark.hex}}"
yellow = "{{colors.secondary.dark.hex}}"
blue = "{{colors.primary.dark.hex}}"
magenta = "{{colors.tertiary.dark.hex}}"
cyan = "{{colors.secondary.dark.hex}}"
white = "{{colors.on_surface.dark.hex}}"
