{
  "label": "lock",
  "action": "hyprlock --config @HOME@/.config/niri/hyprlock.conf",
  "text": "Заблокировать",
  "keybind": "l"
}
{
  "label": "logout",
  "action": "niri msg action quit",
  "text": "Выйти из Niri",
  "keybind": "e"
}
{
  "label": "suspend",
  "action": "systemctl suspend",
  "text": "Сон",
  "keybind": "u"
}
{
  "label": "reboot",
  "action": "systemctl reboot",
  "text": "Перезагрузить",
  "keybind": "r"
}
{
  "label": "shutdown",
  "action": "systemctl poweroff",
  "text": "Выключить",
  "keybind": "s"
}
