{
  "label": "lock",
  "action": "hyprlock --config @HOME@/.config/niri/hyprlock.conf",
  "text": "@UI_LOCK@",
  "keybind": "l"
}
{
  "label": "logout",
  "action": "niri msg action quit",
  "text": "@UI_LOGOUT@",
  "keybind": "e"
}
{
  "label": "suspend",
  "action": "systemctl suspend",
  "text": "@UI_SUSPEND@",
  "keybind": "u"
}
{
  "label": "reboot",
  "action": "systemctl reboot",
  "text": "@UI_REBOOT@",
  "keybind": "r"
}
{
  "label": "shutdown",
  "action": "systemctl poweroff",
  "text": "@UI_SHUTDOWN@",
  "keybind": "s"
}
