#!/usr/bin/env bash
set -euo pipefail

theme="@HOME@/.config/rofi/themes/niri.rasi"
selection="$(cliphist list -fields id,mime,preview | rofi -dmenu -i -display-columns 3 -p 'Буфер обмена' -theme "$theme")" || exit 0
[ -n "$selection" ] || exit 0
printf '%s' "$selection" | cliphist decode | wl-copy
